{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="An attempt to accurately compute osu! beatmap difficulty and player ranking." />
  <meta name="author" content="Tom94" />
  <meta name="keywords" content="osu,osu!,tp,rating,rating system,osu! rating system,tom94,pancake,osu! ranking system,ranking system,ranking,system" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
  <title>{{ .Title }}</title>
</head>
<body>
  <script type="text/javascript" src="/js/wz_tooltip.js"></script>
  <div class="bodytopbg">
    <div class="mainbody">
      <div class="top"></div>
      <div class="header">
        <a href="/players">
          <div class="header-logo"></div>
        </a>
        <div class="header-content">
          <h1><a href="/players">{{ .Title }}</a></h1>
          <h2>{{ .Description }}</h2>
          <p style="color:#5555AA">updated daily - last update: {{ .LastUpdate }}</p>
        </div>
        <div class="menu">
          <ul class="sf-menu">
            <li><a href="/info">Info</a></li>
            <li><a href="/changelog">Changelog</a></li>
            <li><a href="/players">Player rating</a></li>
            <li><a href="/scores">Score rating</a></li>
            <li><a href="/beatmaps">Beatmap difficulty</a></li>
            <li><a href="/banners">Banners</a></li>
          </ul>
        </div>
      </div>
      <div class="content-with-bg">
{{ end }}
{{ define "footer" }}
      <div class="footer-content">
        <p>
          <span style="font-weight:bold">{{ .PageViews }}</span> views | query took <span style="font-weight:bold">{{ .LoadTime }}</span> seconds
        </p>
        <div class="line"></div>
        <p>
          idea &amp; implementation by <a href="http://osu.ppy.sh/u/1857058">Tom94</a> | hosted by <a href="http://osu.ppy.sh/u/1231180">Ezoda</a> | artwork by <a href="http://osu.ppy.sh/u/276074">boat</a> | <a href="http://osu.ppy.sh/">osu!</a> by <a href="http://ppy.sh/">peppy</a>
        </p>
      </div>
    </div>
    <div class="footer">
    </div>
    </div>
  </div>
</body>
</html>
{{ end }}