{{ define "players" }}
{{ template "header" . }}
    <h1>Global player rating</h1>
    <p>
        The players with the highest amount of tp are listed here. If you want to sort the players by their aim,
        speed or accuracy rating then simply click on the respective column title. Recent changes to the underlying
        algorithm or the website are documented <a href="/changelog">here</a>.
    </p>
    <form class="form" action="/players" method="get">
        <div class="search-form-search">
            <input type="text" name="pn" size="15" maxlength="40" placeholder="Player name">
            <input type="submit" value="Search">
        </div>
    </form>
{{ template "footer" . }}
{{ end }}